echo numpy==2.4.2 > requirements.txt
echo pandas==3.0.1 >> requirements.txt
echo scikit-learn==1.8.0 >> requirements.txt
echo nltk==3.9.3 >> requirements.txt
echo emoji==2.15.0 >> requirements.txt
echo matplotlib==3.10.8 >> requirements.txt
echo seaborn==0.13.2 >> requirements.txt
echo joblib==1.5.3 >> requirements.txt
echo scipy==1.17.1 >> requirements.txt
